.product-img{
    height: 200px;
    width: 150px;
}
.product{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.product p{
    min-height: 1.5rem
}
.product:hover .product-actions{
    opacity: 1;
}
.product-actions{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    color: white;
    font-weight: bold !important;
    background-color: rgba(0, 0, 0, 0.8);
}
.product-img-info{
    height: 70vh;
}
.total_amount{
    background-color: lightblue;
    padding: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-weight: bold;
}
.total_amount:hover{
    background-color: #003F5C;
    color: white;
}
.order{
    background-color: aliceblue;
}